.formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEA;
    padding-top: 45px;
    margin-top: 45px; 
}
  
  .contactoTexto {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    color: #fb6c3c;
    font-size: 1.2rem;
    float: left;
    height: 500px;
    width: 50%;
    margin-top: 50px;
    text-transform: uppercase; 
}
  
  .contactoParrafo {
    margin-left: 45px;
    margin-top: 45px;
    align-items: center; 
}
  
  .mapaContacto {
    display: flex;
    float: right;
    width: 50%;
    height: 500px;
    margin-top: 50px; 
}
  